progress {
  border-radius: 24px;
}
progress::-webkit-progress-bar {
  background-color: #d9d9d9;
  border-radius: 24px;
}
progress::-webkit-progress-value {
  background-color: #6148ff;
  border-radius: 24px;
}
/* progress::-moz-progress-bar {
  style rules
} */
